/*

v=004

*/

.content { /* Centred left/right, 5% margin, zero margin top and bottom */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.form_class{
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.6rem;
}
.button_class{
    margin-top: 2%;
    margin-left: 2%;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}
.text_class{
    width: 90%;
    max-width: 250px;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 2%;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.6rem;
}
.textarea_class{
    width: 90%;
    max-width: 90%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.6rem;
}
.div_class{
    margin-left: 2%;
    margin-bottom: 2%;
}
.label_class{
    width: 90%;
    display: inline-block;
    font-size: 1.6rem;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 2%;
}
.p_class{
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 2%;
}
.hidden_class{
    display: none;
}
.select_class{
    margin-top: 2%;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.6rem;
}
.flex-container{
    display: flex; gap: 0px;
}
.column{
    flex: 1;
}
