.button_class{
    margin-top: 10px;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}
.form_class{
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 24px;
}
.text_class{
    margin-top: 10px;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 24px;
}
.textarea_class{
    margin-top: 10px;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 24px;
}
.div_class{
    margin-left: 10px;
    margin-bottom: 10px;
}
.label_class{
    display: inline-block;
    font-size: 24px;
    width: 150px;
    margin-bottom: 10px;
}
.p_class{
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
}
.hidden_class{
    display: none;
}
.select_class{
    margin-top: 10px;
    background-color: #DDDDDD;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 24px;
}
.flex-container{
    display: flex; gap: 0px;
}
.column{
    flex: 1;
}
